*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --turquoise: #004E6C;
    --orange: #e8871e;
    --white: #ffffff;
    --black: #000000;
    --lightgray: #c6c6c6;
    --gray: #595959;
    --main-font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--main-font);
    scroll-behavior: smooth;
}


/*--------------------------------Header-----------------------------------------*/



#header {
    background-color: var(--turquoise);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 10;
    padding: 1rem 2rem;
    font-weight: 700;
}

.header-list {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    position:fixed;
    top:10vh;
    height:300px;
    width:50vw;
    min-width:150px;
    max-width:200px;
    background:var(--turquoise);
    right:-200px;
    visibility:hidden;
    transition: right 0.4s, visibility 0.4s;
}

header a {
    color: var(--white); 
}

header a:hover {
    color: var(--orange); 
}

.header-list-item {
    margin: 0 auto;
}

.logo {
    height: 10vh; 
    padding: 0.5rem;  
}

.nav-checkbox{
    display:none;
}

.nav-checkbox:checked ~ .header-list {
    right:0;
    visibility:visible;
    box-shadow: -20px 20px 40px rgba(0,0,0,0.5);
}

.nav-checkbox-btn{
    width:40px;
    height:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    cursor:pointer;
}

.nav-checkbox-line{
    width:40px;
    height:5px;
    background-color: var(--white);
    border-radius:5px;
    transition: all 0.3s ease-in-out;
}

.nav-checkbox:checked + .nav-label > .nav-checkbox-btn > .line-one {
    margin-top:13px;
    transform: rotate(+45deg);
} 

.nav-checkbox:checked + .nav-label > .nav-checkbox-btn > .line-two {
    transform: rotate(135deg);
    margin-top:-14px;
}

.nav-checkbox:checked + .nav-label > .nav-checkbox-btn > .line-three {
    opacity:0;;
} 

@media screen and (min-width: 576px){

    .header-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 60vw;
        visibility:visible;
        position:static;
        max-width:60vw;
        height:10vh;
    } 

    .nav-checkbox-btn {
        display:none;
    }
    
    .header-list-item a {
        color: var(--white);
        font-size: 1.25rem;
        transition: color 0.4s;
    }

    .header-list-item a:hover {
        color: var(--orange)
    }
}

@media screen and (min-width: 768px){

    .header-list {
        width: 60vw;
    }

    #header {
        padding: 1rem 5rem
    }

    .header-list-item a {
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 992px){

    .header-list {
        width: 55vw;
    }
}

@media screen and (min-width: 1200px){

    .header-list {
        width: 50vw;
    }

}

@media screen and (min-width: 1400px){

    .header-list {
        width: 40vw;
        max-width: 40vw;
    }

}

/*--------------------------------Home-----------------------------------------*/


#home {
    height: 100vh;
    background-color: var(--turquoise);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position: relative;
    font-weight: 700; 
    padding:2rem;    
}

.hero-background {
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    min-width:400px;
    z-index: 0;
}

.home-name { 
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 40px;
    z-index: 1;
    text-align:center;
}

.home-profession { 
    color: var(--white);
    margin-bottom: 40px;
    z-index:2;
    text-align:center;
}

.home-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--orange);
    padding: 1rem 2rem;
    background-color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
    z-index: 1;
}

.home-button:hover {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

.home-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){

    #home {
        padding: 2rem 5rem 2rem 5rem;
    }

    .home-name {
        font-size: 3.5rem
    }
}    

@media screen and (min-width: 992px){
    .home-name {
        font-size: 4rem
    }

    .home-profession {
        font-size: 2rem
    }

}


/*--------------------------------About-----------------------------------------*/

#about {
    padding:10vh 2rem 2rem 2rem;  
    position:relative; 
    background-color: var(--white);
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}

.about-content {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    flex: 2 1 510px;
}

.about-picture {
    display:none;
    height:auto;
    border-radius: 100px;
    object-fit:cover;
    min-width: 200px;
    max-width:500px;
    max-height:500px;
    padding: 20px;
    flex: 1 0 300px;
    align-self: flex-start;
}

.about-title {
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    Padding: 30px;
    letter-spacing:0.1rem;
}

.about-name {
    color: var(--orange);
    font-size: 1.5rem;
    font-weight:700;
    margin-bottom: 5px;
    margin-top:5px;
}

.about-profession {
    margin-bottom: 20px;
}

.about-paragraph {
    margin-bottom:20px;
}

.skill-title {
    margin-bottom:20px;
}

.skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom:10px;
}

.skill-list-item {
    padding: 0.5rem 1rem;
    background-color: var(--lightgray);
    border-radius:10px;
    font-weight: 700;
    color: var(--gray);
}

.about-buttons {
    margin-top:40px;
    margin-bottom:30px;
    display:flex;
    flex-direction: row;
    gap:10px;
}


.contact-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--orange);
    padding: 1rem 2rem;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.contact-button:hover {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

.contact-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

.CV-button {
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--orange);
    padding: 1rem 2rem;
    background-color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.CV-button:hover {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

.CV-button:focus {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){   

    #about {
        padding: 10vh 5rem 2rem 5rem;
    }
}

@media screen and (min-width: 992px){

    .about-container {
        display:flex;
        flex-direction:row-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .about-picture{
        display:block;
    }
      
    .about-name {
        font-size: 2rem;
    }

    .about-hello {
        font-size: 1.5rem;
    }

    .about-profession {
        font-size: 1.5rem;
    }
    
    .skill-title {
        font-size: 1.5rem;
    }
}

/*--------------------------------Projects-----------------------------------------*/

#projects {
    padding:10vh 2rem 2rem 2rem;  
    position:relative; 
    background-color: var(--turquoise);
} 

.projects-title {
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--white);
}

.projects-container {
    padding:20px 0;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.project-item {
    position:relative;
    border-radius:20px;
    flex-basis: 350px;
    flex-grow:1;
    overflow:hidden;
    flex-shrink:0;
    max-width: 500px;
}

.project-picture {
    display:block;
    max-width:100%;
    min-width: 200px;
    height:auto;
    object-fit:cover;
    border-radius: 20px;
    transition: transform 0.4s;
}

.project-item:hover img{
    transform:scale(1.1);
}

.image-overlay a{
    color:var(--white);
    font-size: 2rem;
    margin:0 10px;
}

.image-overlay a:hover{
    color:var(--orange);
}

.image-overlay {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding:10% 30% 10% 10%;
    color:var(--white);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.9));
    transition: 0.4s;
    opacity:0;
    transition: opacity 0.3s;
    border-radius:20px;
}

.overlay-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin:0 10px;
}

.image-overlay > * {
    transform: translateY(20px);
    transition:0.3s;
}

.image-overlay:hover {
    opacity:1; 
}   

.image-overlay:hover > * {
    transform: translateY(0);
}

@media screen and (min-width: 768px){   

    #projects {
        padding: 10vh 5rem 2rem 5rem;
    }

    .project-item {
        position:relative;
        border-radius:20px;
        flex-basis: 400px;
    }   
}

@media screen and (min-width: 992px){

    .project-item {
        position:relative;
        border-radius:20px;
        flex-basis: 450px;
    }
    .overlay-title{
        font-size: 1.5rem;
    }
}

/*--------------------------------Contact-----------------------------------------*/

#contact {
    padding:10vh 2rem 2rem 2rem;  
    position:relative;  
} 

#contact::before {
    content:"";
    background-image: url(./assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:0.5;
    filter: grayscale(100%);    
}

.contact-title {
    position:relative;
    text-transform: uppercase;
    display:block;
    text-align: center;
    font-size: 1.5rem;
    font-weight:700;
    padding: 30px;
    letter-spacing:0.1rem;
    color: var(--black);
}

.contact-me-text{
    position:relative;
    display:block;
    text-align:center;
    max-width:600px;
    margin:auto;
    font-weight:700;
}

.contact-form-field {
    display: flex;
    flex-direction: column;
    align-content:space-between;
}

.contact-form-container{
    position:relative;
    box-shadow: rgba(0,0,0,.2) 0 7px 29px 0;
    border: 2px solid var(--black);
    padding: 20px;
    max-width: 600px;
    text-align:left;
    width: 95%;
    border-radius: 10px;
    margin:20px auto 0 auto;
}

.contact-form-label{
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.contact-form-input{
    color: var(--gray);
    padding: 10px;
    width: 100%;
    border: 1px solid var(--white);
    background: var(--white);
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: var(--main-font);
}

.submit-btn{
    color: var(--black);
    font-size: 0.85rem;
    border: 4px solid var(--orange);
    padding: 1rem 2rem;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    transition-duration: 0.4s;
}
    
.submit-btn:hover {
    background: var(--white);
    border: 4px solid var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
    color: var(--orange)
}

/*--------------------------------Footer-----------------------------------------*/

#footer {
    background:var(--turquoise);
    padding:0 2rem 2rem 2rem;  
    position:relative; 
}

.footer-social{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.footer-social-item a{
    display:block;
    height:60px;
    width:60px;
    line-height:60px;
    color: var(--orange);
    border:2px solid var(--orange);
    border-radius: 50%;
    background-color: var(--white);
    font-size: 2rem;
    text-align:center;
    margin:20px;
    transition-duration: 0.4s;
}

.footer-social-item a:hover{
    color: var(--white);
    background-color: var(--orange);
    box-shadow: 1px 1px 5px 1px var(--black);
}

.footer-copyright-item {
    font-size:0.7rem;
    color: var(--white);
    text-align:center;
}

.top-btn {
    color:var(--orange);
    font-size: 2rem;
    position:fixed;
    bottom:2rem;
    right:0.5rem;
    margin-top:100vh;
}

.top-btn:hover {
    color:var(--white);
}

@media screen and (min-width: 768px) {
    .top-btn{
        right:2rem;
    }
}